#errow1 {
    animation: errow1 5s linear infinite;
    transform-origin: center;
    /* transform-box: fill-box; */
}
#errow2 {
    animation: errow1 10s linear  infinite;
    transform-origin: center;
    /* transform-box: fill-box; */
}
#errow3 {
    animation: errow1 25s linear  infinite;
    transform-origin: center;
    /* transform-box: fill-box; */
}

@keyframes errow1 {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}